<!-- 博客运行时间 - 开始 -->
<script>
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }</script>
<script type="text/javascript" language="javascript">
    function setTime() {
        var create_time = Math.round(new Date(Date.UTC(2021, 10, 6, 14, 15, 19)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = '{{ T "footer.runningTime" (dict "Years" "__YEARS__" "Days" "__DAYS__" "Hours" "__HOURS__" "Minutes" "__MINUTES__" "Seconds" "__SECONDS__") }}'
                .replace('__YEARS__', currentTime[0])
                .replace('__DAYS__', currentTime[1])
                .replace('__HOURS__', currentTime[2])
                .replace('__MINUTES__', currentTime[3])
                .replace('__SECONDS__', currentTime[4]);
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }    setInterval(setTime, 1000);
</script>
<!-- 博客运行时间 - 结束 -->
<!-- <script>
  document.querySelectorAll('a').forEach(function(link) {
    // 检查链接是否为外部链接
    if (link.hostname !== window.location.hostname) {
      link.setAttribute('target', '_blank');
      link.setAttribute('rel', 'noopener noreferrer');
    }
  });
</script> -->
