{{ define "body-class" }}template-archives{{ end }}
{{ define "main" }}
<article class="post post-full archive-page-card">
    {{/*  <header class="post-header text-center">
        <a class="post-title" href="{{ .RelPermalink }}">归档</a>
    </header>  */}}
    <header>
        {{- $taxonomy := $.Site.GetPage "taxonomyTerm" "categories" -}}
        {{- $terms := $taxonomy.Pages -}}
        {{ if $terms }}
        <h2 class="section-title">{{ $taxonomy.Title }}</h2>
        <div class="subsection-list">
            <div class="article-list--tile">
                {{ range $terms }}
                    {{ partial "article-list/tile" (dict "context" . "size" "250x150" "Type" "taxonomy") }}
                {{ end }}
            </div>
        </div>
        {{ end }}
    </header>

    <div class="post-content" id="post_content">
        <div class='argon-timeline'>
            {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
            {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
            {{ $filtered := ($pages | intersect $notHidden) }}

            {{/* 按年份分组 */}}
            {{ range $filtered.GroupByDate "2006" }}
                {{ $year := .Key }}
                <div class='argon-timeline-node node-year' id="{{ $year }}">
                    <div class='argon-timeline-time archive-timeline-year'>
                        <a href="#{{ $year }}">{{ $year }}</a>
                    </div>
                    <div class='argon-timeline-card card bg-gradient-secondary archive-timeline-title'></div>
                </div>

                {{ range .Pages }}
                <div class='argon-timeline-node node-post'>
                    <div class='argon-timeline-time'>{{ .Date.Format "06-01-02" }}</div>
                    <div class='argon-timeline-card card bg-gradient-secondary archive-timeline-title'>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </div>
                </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</article>

{{ partialCached "footer/footer" . }}
{{ end }}
