{{ define "body-class" }}template-archives{{ end }}
{{ define "main" }}
    {{/*  <header>
        {{- $taxonomy := $.Site.GetPage "taxonomyTerm" "categories" -}}
        {{- $terms := $taxonomy.Pages -}}
        {{ if $terms }}
        <h2 class="section-title">{{ $taxonomy.Title }}</h2>
        <div class="subsection-list">
            <div class="article-list--tile">
                {{ range $terms }}
                    {{ partial "article-list/tile" (dict "context" . "size" "250x150" "Type" "taxonomy") }}
                {{ end }}
            </div>
        </div>
        {{ end }}
    </header>  */}}

    {{/*  {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}

    {{ range $filtered.GroupByDate "2006" }}
    {{ $id := lower (replace .Key " " "-") }}
    <div class="archives-group" id="{{ $id }}">
        <h2 class="archives-date section-title"><a href="{{ $.RelPermalink }}#{{ $id }}">{{ .Key }}</a></h2>
        <div class="article-list--compact">
            {{ range .Pages }}
                {{ partial "article-list/compact" . }}
            {{ end }}
        </div>
    </div>
    {{ end }}  */}}

    {{/*  按照月份分类  */}}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}

    {{ range $filtered.GroupByDate "2006" }}
    {{ $year := .Key }}
    <div class="archives-group-year" id="{{ $year }}">
        <h2 class="archives-date section-title">
            <a href="{{ $.RelPermalink }}#{{ $year }}">{{ $year }}</a>
        </h2>

        {{ range .Pages.GroupByDate "2006-01" }}
        {{ $month := .Key }}
        {{ $monthParts := split $month "-" }} <!-- 分割年份和月份 -->
        {{ $monthNumber := index $monthParts 1 }} <!-- 获取月份部分 -->
        {{ $monthDate := time (printf "%s-%s-01" $year $monthNumber) }} <!-- 使用年份和月份生成日期 -->
        <div class="archives-group-month" id="{{ $month }}">
            <h3 class="archives-date-month">
                <a href="{{ $.RelPermalink }}#{{ $month }}">
                    {{ $year }}.{{ $monthNumber }} <!-- 直接使用月份字符串，保持两位数格式 -->
                </a>
            </h3>
            <div class="article-list--compact">
                {{ range .Pages }}
                    {{ partial "article-list/compact" . }}
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}

    {{ partialCached "footer/footer" . }}
{{ end }}