{{- $src := .Get "src" -}}
{{- $jsonFile := readFile $src | transform.Unmarshal -}}
<div class="timeline">
{{- range $jsonFile }}
<div class="timeline-item">
<div class="timeline-date">{{ .date }}</div>
<div class="timeline-content">{{ .content | safeHTML }}</div>
</div>
{{- end }}
</div>

{{/*  <div class="timeline">
  {{ .Inner | safeHTML }}
</div>  */}}

<style lang="scss">
/* 时间线容器 */
.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px 0 0 80px;
  padding-left: 30px;
  border-left: 2px solid var(--timeline-line-color, #ccc);
}

/* 单个时间节点 */
.timeline-item {
  position: relative;
  margin-bottom: 20px;
}

/* 最后一个节点没有底部间距 */
.timeline-item:last-child {
  margin-bottom: 0;
}

/* 时间显示 */
.timeline-date {
  position: absolute;
  left: -120px; /* 调整为宽度适配完整显示时间 */
  font-size: 14px;
  color: var(--timeline-date-color, #efbfcf); /* 支持暗色模式 */
  font-weight: bold;
  white-space: nowrap; /* 防止时间换行 */
}

/* 内容框样式 */
.timeline-content {
  background: var(--timeline-bg-color, var(--card-background-secondary)); /* 支持暗色模式 */
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid var(--card-border-color);
  box-shadow: var(--shadow-l1);
  backdrop-filter: saturate(var(--glass-saturation)) blur(var(--glass-blur));
  -webkit-backdrop-filter: saturate(var(--glass-saturation)) blur(var(--glass-blur));
  max-width: 500px;
  color: var(--timeline-text-color, var(--card-text-color-main))/* 支持暗色模式 */
}

/* 默认内容内边距 */
.timeline-content p {
  margin: 0;
}

.timeline-content a {
  color: var(--timeline-text-color, var(--card-text-color-main));
}

/* 时间点 */
.timeline-item:before {
  content: '';
  position: absolute;
  left: -7px;
  top: 8px;
  width: 10px;
  height: 10px;
  background: var(--timeline-point-color, #ccc); /* 支持暗色模式 */
  border: 2px solid var(--timeline-line-color, #ccc);
  border-radius: 50%;
}

/* 自定义变量：暗色模式支持 */
[data-scheme="dark"] {
  :root {
    --timeline-line-color: #555;
    --timeline-date-color: #aaa;
    --timeline-bg-color: var(--card-background-secondary);
    --timeline-text-color: var(--card-text-color-main);
    --timeline-point-color: #aaa;
  }
}

[data-scheme="light"] {
  :root {
    --timeline-line-color: #ccc;
    --timeline-date-color: #666;
    --timeline-bg-color: var(--card-background-secondary);
    --timeline-text-color: var(--card-text-color-main);
    --timeline-point-color: #ccc;
  }
}
</style>
