<!-- Use site subtitle by default -->
{{ $description := .Site.Params.sidebar.subtitle }}

<!-- Seprate description exists -->
{{ if .Site.Params.description }}
    {{ $description = .Site.Params.description }}
{{ end }}

{{ if .Description }}
    <!-- Page description exists -->
    {{ $description = .Description }}
{{ else if .IsPage }}
    <!-- Use page summary, skipping the leading translation notice / quotes -->
    {{ $description = partial "helper/summary" (dict "Page" . "Length" 160) }}
{{ end }}

{{ return (replaceRE "\n" " " $description | plainify) }}