<aside class="sidebar left-sidebar sticky {{ if .Site.Params.sidebar.compact }}compact{{ end }}">
    <section class="sidebar-panel sidebar-profile">
        <header>
            {{ with .Site.Params.sidebar.avatar }}
                {{ if (default true .enabled) }}
                <figure class="site-avatar">
                    <a href="{{ .Site.BaseURL | relLangURL }}">
                    {{ if not .local }}
                        <img src="{{ .src }}" width="300" height="300" class="site-logo" loading="lazy" alt="Avatar">
                    {{ else }}
                        {{ $avatar := resources.Get (.src) }}
                        
                        {{ if $avatar }}
                            {{ $avatarResized := $avatar.Resize "300x" }}
                            <img src="{{ $avatarResized.RelPermalink }}" width="{{ $avatarResized.Width }}"
                                height="{{ $avatarResized.Height }}" class="site-logo" loading="lazy" alt="Avatar">
                        {{ else }}
                            {{ errorf "Failed loading avatar from %q" . }}
                        {{ end }}
                    {{ end }}
                    </a>
                    {{ with $.Site.Params.sidebar.emoji }}
                        <span class="emoji">{{ . }}</span>
                    {{ end }}
                </figure>
                {{ end }}
            {{ end }}
            
            <div class="site-meta">
                <h1 class="site-name"><a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a></h1>
                {{- $subtitle := .Site.Params.sidebar.subtitle -}}
                {{- with index .Site.Params.sidebar.subtitles .Site.Language.Lang -}}
                    {{- $subtitle = . -}}
                {{- end -}}
                <h2 class="site-description">{{ $subtitle }}</h2>
            </div>
        </header>

        {{- with .Site.Menus.social -}}
            <ol class="menu-social">
                {{ range . }}
                    <li>
                        <a 
                            href='{{ .URL }}'
                            {{ if eq (default true .Params.newTab) true }}target="_blank"{{ end }}
                            {{ with .Name }}title="{{ . }}"{{ end }}
                            rel="me"
                        >
                            {{ $icon := default "link" .Params.Icon }}
                            {{ with $icon }}
                                {{ partial "helper/icon" . }}
                            {{ end }}
                        </a>
                    </li>
                {{ end }}

                <li>
                    <a 
                        href="{{ $.Site.LanguagePrefix }}/feed.xml" 
                        target="_blank" 
                        title="RSS" 
                        rel="me"
                    >
                        {{ partial "helper/icon" "rss" }}
                    </a>
                </li>
            </ol>
        {{- end -}}
    </section>

    <ol class="menu sidebar-panel sidebar-menu" id="main-menu">
        {{ $currentPage := . }}
        {{- $tagMenuName := "Tags" -}}
        {{- if eq .Site.Language.Lang "zh-cn" -}}
            {{- $tagMenuName = "标签" -}}
        {{- else if eq .Site.Language.Lang "zh-tw" -}}
            {{- $tagMenuName = "標籤" -}}
        {{- else if eq .Site.Language.Lang "ja" -}}
            {{- $tagMenuName = "タグ" -}}
        {{- end -}}
        {{- $taxonomyMenuItems := slice
            (dict "Name" (T "widget.categoriesCloud.title") "URL" ("/categories/" | relLangURL) "Icon" "categories" "Taxonomy" "categories")
            (dict "Name" $tagMenuName "URL" ("/tags/" | relLangURL) "Icon" "tag" "Taxonomy" "tags")
        -}}
        {{- $mainMenu := .Site.Menus.main -}}
        {{- with first 1 $mainMenu -}}
            {{- range . -}}
                {{- partial "helper/menu-item.html" (dict "CurrentPage" $currentPage "MenuItem" .) -}}
            {{- end -}}
        {{- end -}}
        {{- range $taxonomyMenuItems -}}
            {{- $active := or (eq $currentPage.RelPermalink .URL) (and (or (eq $currentPage.Kind "taxonomy") (eq $currentPage.Kind "term")) (eq $currentPage.Data.Plural .Taxonomy)) -}}
            <li {{ if $active }} class='current' {{ end }}>
                <a href='{{ .URL }}'>
                    {{ partial "helper/icon" .Icon }}
                    <span>{{- .Name -}}</span>
                </a>
            </li>
        {{- end -}}
        {{- with after 1 $mainMenu -}}
            {{- range . -}}
                {{- partial "helper/menu-item.html" (dict "CurrentPage" $currentPage "MenuItem" .) -}}
            {{- end -}}
        {{- end -}}
    </ol>

</aside>
