{{- $page := .Page -}}
{{- $image := .Image -}}
{{- $isPriority := .IsPriority -}}
<header class="article-header">
    {{ if $image.exists }}
        <div class="article-image">
            <a href="{{ $page.RelPermalink }}">
                {{ if $image.resource }}
                    {{- $Permalink := $image.resource.RelPermalink -}}
                    {{- $Width := $image.resource.Width -}}
                    {{- $Height := $image.resource.Height -}}
                    {{- $Srcset := "" -}}

                    {{- if (default true $page.Site.Params.imageProcessing.cover.enabled) -}}
                        {{- $thumbnail := $image.resource.Resize "480x" -}}
                        {{- $thumbnailRetina := $image.resource.Resize "800x" -}}
                        {{- $Srcset = printf "%s 480w, %s 800w" $thumbnail.RelPermalink $thumbnailRetina.RelPermalink -}}
                        {{- $Permalink = $thumbnail.RelPermalink -}}
                        {{- $Width = $thumbnail.Width -}}
                        {{- $Height = $thumbnail.Height -}}
                    {{- end -}}

                    <img src="{{ $Permalink }}"
                        {{ with $Srcset }}srcset="{{ . }}"{{ end }}
                        width="{{ $Width }}"
                        height="{{ $Height }}"
                        loading="{{ if $isPriority }}eager{{ else }}lazy{{ end }}"
                        {{ if $isPriority }}fetchpriority="high"{{ end }}
                        alt="Featured image of post {{ $page.Title }}" />
                {{ else }}
                    <img src="{{ $image.permalink }}"
                        loading="{{ if $isPriority }}eager{{ else }}lazy{{ end }}"
                        {{ if $isPriority }}fetchpriority="high"{{ end }}
                        alt="Featured image of post {{ $page.Title }}" />
                {{ end }}
            </a>
        </div>
    {{ end }}

    {{ partialCached "article/components/details" $page $page.RelPermalink }}
</header>
